#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.app {
    background-color: rgb(31, 25, 25);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}
